@using Syncfusion.Blazor.Calendars

<div class="@cssClass">

    <SfDateTimePicker @ref="sfDateTimePicker"
                      Format="@DateFormat"
                      TValue="DateTime?"                    
                    
                      Placeholder="@Placeholder"                      
                      >

    </SfDateTimePicker>
</div>

@code {



}
