@using Syncfusion.Blazor.Calendars

<div class="@cssClass">

    <SfDateTimePicker @ref="sfDateTimePicker" 
                      TValue="DateTime?" 
                      Min='@MinDateTime' 
                      Max='@MaxDateTime' 
                      Value='@DateTimeValue' 
                      Placeholder="@Placeholder"                                           
                      >

    </SfDateTimePicker>
</div>

@code {



}
