
@using Syncfusion.Blazor.Calendars

<div class="@cssClass">
    <SfDateRangePicker @ref="sfDateRangePicker"
                       Placeholder="Choose a Range"
                       StartDate="@StartDate"
                       EndDate="@EndDate"
                       CssClass=@InnerCssClass
                       >
        <DateRangePickerEvents ValueChange="ValuechangeHandler" ></DateRangePickerEvents>
        @*<CalendarEvents TValue="DateTime?" ValueChange="ValuechangeHandler"></CalendarEvents>*@
    </SfDateRangePicker>
</div>


