
@using Syncfusion.Blazor.Calendars

<div class="@cssClass">
    <SfDateRangePicker @ref="sfDateRangePicker"
                       Placeholder="Choose a Range"
                       StartDate="@StartDate"
                       EndDate="@EndDate">
        <DateRangePickerEvents OnClose="@Onclose"></DateRangePickerEvents>
        <CalendarEvents TValue="DateTime?" ValueChange="ValuechangeHandler"></CalendarEvents>
    </SfDateRangePicker>
</div>


