@using Syncfusion.Blazor.Calendars

<div class="@cssClass">

    <SfDateTimePicker @ref="sfDateTimePicker"
                      Format="@DateFormat"
                      TValue="DateTime?"
                      @bind-Value="@DateTimeValue"
                      Placeholder="@Placeholder">
        <DateTimePickerEvents TValue="DateTime?" ValueChange="ValueChangeHandler"></DateTimePickerEvents>
    </SfDateTimePicker>
</div>

@code {



}
