@using Syncfusion.Blazor.DropDowns

<div class= "@cssClass">
    <SfDropDownList @ref="fxDropDownList" TItem="string" TValue="string" PopupHeight=@PopupHeight Placeholder=@Placeholder/>
</div>

@code {

    

}
