@using Syncfusion.Blazor.DropDowns
@using FLBX.Models

<div class="@cssClass">
    @*<SfDropDownList @ref="fxDropDownList" TValue="string" TItem="DropDownModel" DataSource="@DropDownValue" PopupHeight=@PopupHeight Placeholder=@Placeholder>
        <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
    </SfDropDownList>*@

    <SfDropDownList @ref="sfDropDownList" TValue="string" TItem="DropDownModel" DataSource="@DataSourceValue" PopupHeight=@PopupHeight Placeholder=@Placeholder>
        <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
    </SfDropDownList>
</div>

@code {

}
