@using Syncfusion.Blazor.Buttons

<div class="col-12 align-self-end">

    @ChildContent
        @*<SfButton IsPrimary="true">조회</SfButton>
        <SfButton CssClass="e-danger">Lot생성 test</SfButton>*@


</div>

@code {
    

}
