@using Syncfusion.Blazor.Notifications

<div class="@cssClass">
  
    <SfToast @ref="fxToast" Title="@ToastTitle" Timeout=@ToastTimeOut Icon="e-meeting" Content="@ToastContent"/>
</div>

@code {



}
