@implements Microsoft.AspNetCore.Components.IComponent
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Layouts
@using FLBX.Components


<div class="row">
    <div class="col-lg-12 px-0">
        <div class="card shadow mb-2 border-bottom-primary">
            <a href="#collapseTopMenu" class="d-block card-header py-2" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseTopMenu">
                <h6 class="m-0 font-weight-bold text-primary">조회조건</h6>
            </a>
            <div class="collapse show" id="collapseTopMenu" style="">
                <div class="card-body pb-1">
                    <div class="row">
                        @*<div class="col-xl-2">
            <SfDateRangePicker Placeholder="생산시작일(기간)"></SfDateRangePicker>
        </div>

        <div class="col-xl-2">
            <SfDropDownList TItem="string" TValue="string" PopupHeight="230px" Placeholder="WorkOrder">
            </SfDropDownList>
        </div>
        <div class="col-xl-2">
            <SfDropDownList TItem="string" TValue="string" PopupHeight="230px" Placeholder="공정">
            </SfDropDownList>
        </div>
        <div class="col-xl-2">
            <SfTextBox Placeholder="Lot Id검색.." FloatLabelType="@FloatLabelType.Never"></SfTextBox>
        </div>
        <div class="col-xl-2">
            <SfTextBox Placeholder="Lot이름검색:" FloatLabelType="@FloatLabelType.Never"></SfTextBox>
        </div>*@
                        <FxDateRangePicker MediumColSpanValue="2" Placeholder="생산시작일(기간)"></FxDateRangePicker>
                        <FxDropDown MediumColSpanValue="2" Placeholder="Work Order" PopupHeight="230px"></FxDropDown>
                        <FxDropDown MediumColSpanValue="2" Placeholder="공정" PopupHeight="230px"></FxDropDown>
                        <FxTextBox MediumColSpanValue="2" Placeholder="Lot Id검색:"></FxTextBox>
                        <FxTextBox MediumColSpanValue="2" Placeholder="Lot이름검색:"></FxTextBox>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="p-2">
                            <SfButton IsPrimary="true">조회</SfButton>
                            <SfButton CssClass="e-danger">작업종료</SfButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*TOP Menu -End- *@

@*Main  Content *@
<div class="row">
    <div class="col-lg-12 px-0">
        <div class="control_wrapper shadow mb-4">

            <div class="font-weight-bold text-info mb-1"><i class="fas fa fa-bars pr-1"></i>생산Lot</div>
            <SfGrid DataSource="@GridData" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })" AllowPaging="true">
                <GridSelectionSettings CheckboxOnly="true" PersistSelection="true"></GridSelectionSettings>
                <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true"></GridEditSettings>
                <GridColumns>
                    <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
                    <GridColumn Field=@nameof(WorkOrderDetails.Id) HeaderText="WorkOrderId" Width="100"></GridColumn>
                    <GridColumn Field=@nameof(WorkOrderDetails.WorkOrder) HeaderText="Name" TextAlign="TextAlign.Right" Width="50"></GridColumn>
                    <GridColumn Field=@nameof(WorkOrderDetails.Qty) HeaderText="수량" Width="50"></GridColumn>
                    <GridColumn Field=@nameof(WorkOrderDetails.Pruduct) HeaderText="Product" Width="80"></GridColumn>
                </GridColumns>
            </SfGrid>

        </div>
    </div>
</div>

@*Main  Content End *@

@code {
    void Attach(RenderHandle renderHandle) { }

    async Task SetParametersAsync(ParameterView parameters) { }

    public List<WorkOrderDetails> GridData { get; set; }
    public List<Lot> GridDataLot { get; set; }
    private bool isChecked = true;
    protected override void OnInitialized()
    {
        GridData = WorkOrderDetails.GetAllRecords();
        GridDataLot = Lot.GetAllRecords();
    }
}
